* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    outline: none;
}

html {
    height: 100%;
}

main {
    flex: 1 0 auto;
}


.header {
    width: 1260px;
    margin: 0 auto;
}

.main {
    width: 1260px;
    margin: 0 auto;
    background: white;
    height: max-content;
}

.mainContainer {
    width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer {
    width: 1260px;
    margin: 0 auto;
    background: black;
    height: 50px;
}

.header__top {
    height: 50px;
    background: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__bottom {
    height: 70px;
    border: 1px darkgrey;
    background: gainsboro;
}

.header__topLink {
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-size: 35px;
    line-height: 50px;
    margin-left: 40px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom_list {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    list-style-type: none;
}

.header__bottom_link {
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    line-height: 70px;
    text-decoration: none;
    padding: 0 50px 0 50px;
    text-transform: uppercase;
}

.header__bottom_link:hover {
    color: whitesmoke;
    background: grey;
}

.cart-button {
    margin-right: 100px;
    width: 200px;
    border-radius: 10px;
    color: whitesmoke;
    background: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    border: none;
    box-shadow: 2px 2px grey;
}

.cart-button:hover {
    background: rgb(104, 104, 104);
    box-shadow: none;
}

.footer__text {
    color: whitesmoke;
    margin-left: 60px;
    line-height: 50px;
}

.product-title {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: grey;
    text-align: center;
    margin: 10px 0 5px 0;
}

.product-price {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px 0 5px 0;
}

.product-item:hover {
    transform: scale(1.1);
}

.product-item {
    text-align: center;
    text-decoration: none;
    transition: 1s;
    width: auto;
    height: 310px;
    border: grey 1px solid;
    margin: 20px;
    border-radius: 15px;
}

.by-btn {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    color: rgb(2, 2, 2);
    background: rgb(147, 160, 170);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    border: none;
    box-shadow: 2px 2px grey;
}

.by-btn:hover {
    background: rgb(100, 100, 100);
    box-shadow: none;
}

.product-img {
    border-radius: 5px 5px 0 0;
}